@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,400;0,500;1,400&display=swap);


.main-button{    
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 61.5px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.25rem;
    border-radius: .7rem;
    padding: .9rem 1.80rem;
    /*!todo Averiguar el transition para agregarle mayor efecto a mi página web*/
    transition: .4s;
    font-weight: 500;
    border-color: gray;
    border-style: double;
    z-index: 9;
    color: gray;
}

.main-button::after{
    content: '';
    width: 80%;
    height: 40%;
    background: linear-gradient(80deg,hsl(217,80%,80%)10%,
                                hsl(217,85%,70%)48%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    margin: 0 auto;
    border-radius: 3rem;
    filter: blur(12px);
    z-index: -1;
    opacity: 0;
    transition: opacity .4s;
}

.text-button{
    position: relative;
    z-index: 10;
}

.main-button img{
    position: absolute;
    margin: auto;
    pointer-events: none;
    transition: .6s;    
    opacity: 0;
}

.buttonstar{
    width: 28px;
    transform: translate(-25px,-15px) rotate(55deg) ;
    filter: blur(.5px);
    z-index: 20;
}
.buttonstar2{
    width: 38px;
    transform: translate(7px,-14px) rotate(80deg);
    z-index: 20;
}
.buttonstar3{
    width: 206px;
    transform: translate(-84px,-70px) rotate(-45deg);
    z-index: 20;
}
.buttonstar4{
    width: 28px;
    transform: translate(-25px,25px) rotate(-55deg) ;
    filter: blur(.5px);
    z-index: 20;
}

.main-button:hover{
    transform: scale(1.15);
    background-color:black ;
    color: white;
    border-color: white;
    border-style: double;    
    box-shadow: -4px 2px 56px #cac2b9; 
}

.main-button:hover img{
    opacity: 1;
}

.main-button:hover .buttonstar{
    transform: translate(42px,0px) scale(1.2);
    background-color: #cac2b921;
    box-shadow: -4px 2px 56px #cac2b9; 
}
.main-button:hover .buttonstar2{
    transform: translate(24px,40px) scale(1.2);
}
.main-button:hover .buttonstar3{
    transform: translate(-242px,0px) scale(1.2);
}
.main-button:hover .buttonstar4{
    transform: translate(-242px,-40px) scale(1.8);
    background-color: #cac2b921;
    box-shadow: -4px 2px 56px #cac2b9; 
}