 /*!ELiminar esto, solución momentanea*/
 .centered-column{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 15px;    
    padding-top: 820px;
    z-index: 3;
}
@media (max-width: 768px) {
  .centered-column{
    padding-top: 420px;
}
}
.centered-column-test{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 15px;    
    margin-top: 3%;
    margin-bottom: 3%;
}

  .bold-text {
    font-weight: bold;
    font-size: 18px; 
  }
  
  .option-label {
    margin-left: 10px; 
  }

  .no-bullets {
    list-style-type: none;
    padding-left: 0;
  }

  .question-container {
    margin-left: 20vw; 
    margin-right: 20vw; 
  }

  .progress-bar-test {
    margin-top: 5vw;
    margin-bottom: 3vw;
  }

  .mainButton{
    margin-top: 5px;   
    z-index: 999; 
  }

  .barranav{
    z-index: 998;
  }